* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(0, 95, 191);
}

a:hover, a:active {
    color: rgb(0, 143, 239);
    text-decoration: underline;
}

body {
    background-attachment: fixed;
    background-color: rgb(251, 251, 251);
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tinos, Serif;
    font-size: 1.5em;
}

div.content {
    background-color: rgb(251, 251, 251);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    margin: 64px auto;
    max-width: 1024px;
    padding: 128px;
}

img {
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {
    div.content {
        margin: 0 auto;
        padding: 12.5%;
    }
}

p {
    text-align: justify;
}

p.copyright {
    text-align: center;
    font-size: 0.75em;
}

p.lead {
    font-weight: bold;
}

p.note {
    background-color: rgb(251, 247, 223);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 0.75em;
    font-style: italic;
    margin: auto;
    max-width: 512px;
    padding: 32px;
}

ul.navigation {
    line-height: 2em;
    /* to override possible default value */
    margin: 0px;
    /* to override possible default value */
    padding: 0px;
    text-align: center;
}

ul.navigation>li {
    display: inline;
    margin: 0.5em;
}

q {
    font-style: italic;
}